
<button {{action 'openToggle'}}>Open other toggle button</button>

{{x-toggle value=myValue size="large" onToggle=(mut myValue)}}

{{#if isOpenToggle}}
	{{x-toggle value=toggleValue size="large" onToggle=(mut toggleValue)}}
{{/if}}

{{outlet}}
